.voucher_thumbnail {
    height: 100px;
    width: 90%;
    padding-top: 50%;
    position: relative;
    display: table;
    text-align: center;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
}
.user_cover {
    width: 100%;
}

.title {
    text-align: center;
}
.redeem_content {
    text-align: center;
    width: 100%;
}
.redeem {
    height: 100%;
    overflow: auto;
}

.objectives_text {
    margin: 20px auto; 
    width: 320px;
}

.veri_code {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}