.voucher_thumbnail {
    width: 90%;
    padding-top: 100%;
    position: relative;
    display: table;
    text-align: center;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
}
.user_cover {
    width: 100%;
}

.title {
    text-align: center;
}
.redeem_content {
    text-align: center;
}
.redeem {
    height: 100%;
    overflow: auto;
}