.voucher_thumbnail {
    width: 150px;
    height: 130px;
    position: relative;
    display: table;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
}
.user_cover {
    width: 100%;
}
.image {
    padding: 5px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 68%;
    height: 68%;
}
div.description {
    height: 30%;
    text-align: center;
    padding: 5px 5px;
    font-size: small;
    font-weight: bold;
    background-color: lightgrey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.title {
    text-align: center;
}
.redeem_content {
    text-align: center;
    width: 100%;
}
.redeem {
    height: 100%;
    overflow: auto;
}

.objectives_text {
    margin: 10px auto;
    text-align: center;
    width: 320px;
    height: 60px;
    line-height: 19px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: small;
    font-weight: bold;
}

.veri_code {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}